BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackParameters: true
BinPackArguments: true
SpaceBeforeParens: Never
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: Never
